<div class="container">
    <hr/>
    <h3 class="font-weight-normal">List Students</h3>
    <hr/>

    <table class="table table-striped table-hover table-borderless">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">FullName</th>
            <th scope="col">Username</th>
            <th scope="col">Role</th>
            <th scope="col">Email</th>
            <th scope="col">Major</th>
            <th scope="col">Dorm</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in students">
            <td>{{student.id}}</td>
            <td>{{student.firstname + " " + student.lastname}}</td>
            <td>{{student.username}}</td>
            <td>{{student.role}}</td>
            <td>{{student.email}}</td>
            <td>{{student.major.name}}</td>
            <td>{{student.dorm.name}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="#!editStudent/{{student.id}}">Edit</a>
                <a class="btn btn-danger btn-sm" href="#!deleteStudent/{{student.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <hr/>

    <a href="#!addStudent" class="btn btn-success btn-sm">Add New Student</a>

</div>
