<div class="container">
    <hr/>
    <h3 class="font-weight-normal">Add New Major</h3>
    <hr/>

    <form>
        <div class="form-group row">
            <label class="col-form-label col-sm-2 font-weight-bold">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="name" placeholder="IU 7..." required/>
            </div>
        </div>

        <hr/>

        <div class="text-right">
            <button type="submit" class="btn btn-primary btn-sm" ng-click="add()">Save</button>
            <button type="button" class="btn btn-secondary btn-sm" ng-click="close()">Close</button>
        </div>
    </form>

</div>
