<div class="container">
    <br/>
    <a href="#!addPost" class="btn btn-success btn-sm">Add New Post</a>

    <div ng-repeat="post in postsByStudentID" class="card">
        <div class="head">
            <div>
                <header><a href="#!posts/{{post.id}}">{{post.title}}</a></header>
            </div>

            <div ng-repeat="student in students">
                <p ng-if="student.id === post.student" class="subhead">
                    {{student.firstname + " " + student.lastname}}<br/>{{post.date_create | date:'dd MMMM yyyy'}}</p>
            </div>
        </div>

        <pre>{{post.content}}</pre>

<!--        <hr/>-->

<!--        <div class="text-right">-->
<!--            <a class="btn btn-primary btn-sm" href="#!editPost/{{post.id}}">Edit</a>-->
<!--            <a class="btn btn-danger btn-sm" href="#!deletePost/{{post.id}}">Delete</a>-->
<!--        </div>-->

    </div>

</div>
