<div class="container">
    <hr/>
    <h3 class="font-weight-normal">List Cities</h3>
    <hr/>

    <table class="table table-striped table-hover table-borderless">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col" ng-show="currentRole == 'ADMIN'">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="city in cities">
            <td>{{city.id}}</td>
            <td>{{city.name}}</td>
            <td ng-show="currentRole == 'ADMIN'">
                <a class="btn btn-primary btn-sm" href="#!editCity/{{city.id}}">Edit</a>
                <a class="btn btn-danger btn-sm" href="#!deleteCity/{{city.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <hr/>

    <a href="#!addCity" class="btn btn-success btn-sm" ng-show="currentRole == 'ADMIN'">Add New City</a>

</div>
