<div class="container">
    <h2>List Dorms</h2>
    <hr/>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dorm in dorms">
            <td>{{dorm.id}}</td>
            <td>{{dorm.name}}</td>
            <td>
                <a class="btn btn-primary btn-xs" href="#!editDorm/{{dorm.id}}">
                    <span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-danger btn-xs" href="#!deleteDorm/{{dorm.id}}">
                    <span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="#!addDorm" class="btn btn-success btn-sm">Add New Dorms</a>

</div>
