<div class="container">
    <hr/>
    <h3 class="font-weight-normal">List Dorms</h3>
    <hr/>

    <table class="table table-striped table-hover table-borderless">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col" ng-show="currentRole == 'ADMIN'">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dorm in dorms">
            <td>{{dorm.id}}</td>
            <td>{{dorm.name}}</td>
            <td ng-show="currentRole == 'ADMIN'">
                <a class="btn btn-primary btn-sm" href="#!editDorm/{{dorm.id}}">Edit</a>
                <a class="btn btn-danger btn-sm" href="#!deleteDorm/{{dorm.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <hr/>

    <a href="#!addDorm" class="btn btn-success btn-sm" ng-show="currentRole == 'ADMIN'">Add New Dorms</a>

</div>
