<div class="container">

    <div class="card">
        <div class="head">
            <div>
                <header>{{postById.title}}</header>
            </div>

            <div ng-repeat="student in students">
                <p ng-if="student.id === postById.student" class="subhead">
                    {{student.firstname + " " + student.lastname}}<br/>{{postById.date_create | date:'dd MMMM yyyy'}}</p>
            </div>
        </div>

        <pre>{{postById.content}}</pre>

        <hr/>

        <div class="text-right">
            <a class="btn btn-primary btn-sm" href="#!editPost/{{postById.id}}">Edit</a>
            <a class="btn btn-danger btn-sm" href="#!deletePost/{{postById.id}}">Delete</a>
        </div>

    </div>

    <br>
    <h4 class="text-center">List Comments</h4>
    <br/>
    <a href="#!addComment" class="btn btn-success btn-sm">Add New Comment</a>

    <div ng-repeat="comment in commentsByPostID" class="card">
        <div class="subhead">
            <div ng-repeat="student in students">
                <div ng-if="student.id === comment.student">
                    <p>{{student.firstname + " " + student.lastname}}</p>
                </div>
            </div>

            <p>{{comment.date_create | date:'dd MMMM yyyy'}}</p>
        </div>

        <pre>{{comment.content}}</pre>

        <hr/>

        <div class="text-right">
            <a class="btn btn-primary btn-sm" href="#!editComment/{{comment.id}}">Edit</a>
            <a class="btn btn-danger btn-sm" href="#!deleteComment/{{comment.id}}">Delete</a>
        </div>

    </div>

</div>
