<div class="container">
    <h2>List Majors</h2>
    <hr/>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="major in majors">
            <td>{{major.id}}</td>
            <td>{{major.name}}</td>
            <td>
                <a class="btn btn-primary btn-xs" href="#!editMajor/{{major.id}}">
                    <span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-danger btn-xs" href="#!deleteMajor/{{major.id}}">
                    <span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="#!addMajor" class="btn btn-success btn-sm">Add New Major</a>

</div>
