<div class="container">
    <br/>
<!--    <a href="#!addComment" class="btn btn-success btn-sm">Add New Comment</a>-->

    <div ng-repeat="comment in commentsByStudentID" class="card">
        <div class="subhead">
            <div ng-repeat="student in students">
                <p ng-if="student.id === comment.student">
                    {{student.firstname + " " + student.lastname}}
                </p>
            </div>

            <div ng-repeat="post in posts">
                <p ng-if="post.id === comment.post">
                    {{post.title}}
                </p>
            </div>

            <p>{{comment.date_create | date:'dd MMMM yyyy'}}</p>
        </div>

        <pre>{{comment.content}}</pre>

        <hr/>

<!--        <div class="text-right">-->
<!--            <a class="btn btn-primary btn-sm" href="#!editComment/{{comment.id}}">Edit</a>-->
<!--            <a class="btn btn-danger btn-sm" href="#!deleteComment/{{comment.id}}">Delete</a>-->
<!--        </div>-->

    </div>

</div>
